
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
   
    <title>Dashboard</title>
</head>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    
    <br>
    <br>
    <h1 style="margin-left:12cm; font-size:1.6cm; font-family: 'Times New Roman', Times, serif; font-weight:bolder;margin-top:1cm;">DASHBOARD </h1>

    <div class="container" style="margin-top: 2cm; margin-bottom:2cm;margin-right:4cm;">
        <div class="card bg-warning" style="width: 30%;">

            <div class="card-body" style="height:6cm;">
                <h5 class="card-title" style="font-size: 40px;font-family:roman; ">Registration Data</h5>

                <a href="\regdata/" class="btn btn-dark" style=" margin-top: 1cm; padding-left:2cm;padding-right:2cm;font-size:larger;margin-left:1cm;">DATA</a>
            </div>
        </div>

        <div class="card bg-light " style="width: 30%; margin-left:11cm; margin-top:-6cm;height:6cm; ">

            <div class="card-body ">
                <h5 class="card-title " style=" font-size: 40px;font-family:roman; text-align:center "> Payment Data</h5>

                <a href="\pay/ " class="btn btn-dark" style="margin-top: 1cm; margin-left:1.6cm; padding-left:2cm;padding-right:2cm;font-size:larger;">DATA</a>
            </div>
        </div>
        <div class="card bg-primary" style="width: 30%; margin-left:23cm; margin-top:-6cm;height:6cm; ">

            <div class="card-body ">
                <h5 class="card-title " style=" font-size: 40px;font-family:roman; text-align:center ">Queries</h5>

                <a href="\query/ " class="btn btn-dark " style="margin-top: 1cm; margin-left:1.3cm; padding-left:2cm;padding-right:2cm;font-size:larger;">DATA</a>
            </div>
        </div>

    </div>



</body>

<style>


</style>

</html>
<br>
<br> 