{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
  
</body>
</html>
<div class="py-5">
    <h3 class="font-weight-bold mb-0" style="font-size: 40px;text-align:center; font-weight:bold;font-family:'Times New Roman', Times, serif; ">NON ROBOTIC</h3>
<hr style="height:10px;color:red;border-radius:10px;">
    <div class="row">
     
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-3 text-white rounded" style="width: 100%;"><img src="{% static 'media/paper.png' %}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
           
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:large;">Participants are required to make a paper about a topic or an area of their choice, and then present it in front of   juries. There will be only one round, where maximum of 2 participants are allowed to present the paper. At the end there will be viva voce based on the paper presented.  <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Manjunath Patil (6363302175) <br> Madhura (7892029885) </span></p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="hover hover-3 text-white rounded"><img src="{%static 'media/hobby.png'%}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
         
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:large;"><span style="color: rgb(71, 240, 37);">Necessity is the mother of invention! </span><br>Hobby project invites all the enthusiastic inventors and innovators around the country to showcase their creations among like minded peers and the best among the all shall win the event! <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> V N Gokulkrishna (8618631050) <br> Zeeshan (6363292126) </span></p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 mb-3 mb-lg-0 g-md-4" style="margin-top: 1cm;">
        <div class="hover hover-3 text-white rounded" style="width: 100%;"><img src="{% static 'media/hack.png' %}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
           
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:large;">Participants are subjected to find a solution for a problem statement using any programming language in most efficient way. The submitted solution would be subjected to different judging parameters, the solution which garners the most points wins the event. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Karthik B S (9148963922) <br> Pooja (7829334834) </span> </p>
          </div>
        </div>
      </div>



    </div>
  </div>
 
<div class="py-5">
    <h3 class="font-weight-bold mb-0" style="font-size: 40px;text-align:center; font-weight:bold;font-family:'Times New Roman', Times, serif; ">ROBOTIC</h3>
<hr style="height:10px;color:red;border-radius:10px;">
    <div class="row">
     
      <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="hover hover-3 text-white rounded" style="width: 100%;"><img src="{% static 'media/robo1.png' %}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
           
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:medium;">A manually controlled bot either tethered or wireless has to tackle opponent robot and goal a spherical object into opponent’s goal post to score. The player's bot is specifically designed to meet tackling advantages, object holding design to assist in scoring the goal and prevent self scoring against the opponent. The match would be one on one type where the bot with most goals wins the session. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Sinchana M J (9945381891) <br> Sandeep (9590695208) </span></p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="hover hover-3 text-white rounded"><img src="{%static 'media/maze.png'%}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
         
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:15px;">Participants are required build a small self-contained autonomous bot, a Maze runner to transverse a maze in the shortest possible time. It has to sense the walls, make decisions and steer itself through the walls and reach the goal autonomously. The aim of the event is to check the stability and sensing capabilities of the robot in comparison with other opponents. The Robot which will start on the START tile and reach the FINISH tile in the shortest time will be nominated as winner. <br> <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Raghavendra G (9483771945) <br> Nikitha K (9538037885) </span></p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 mb-3 mb-lg-0" style="margin-top: 1cm;">
        <div class="hover hover-3 text-white rounded" style="width: 100%;"><img src="{% static 'media/line.png' %}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
           
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:large;">An autonomous bot that traverse through the path  fastly.As it consist of two rounds,the participant's bot must cover the track within least amount of time in order to qualify for next round. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Sushma G (9380686785) <br> Namitha (9980183167) </span></p>
          </div>
        </div>
      </div>

      <div class="col-lg-6" style="margin-top: 1cm;">
        <div class="hover hover-3 text-white rounded"><img src="{%static 'media/dead.png'%}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
         
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:15px;">The Challenge is to design and build a robot competent to fight other robots in the Battle. The competition is carried out in a tournament format in which the competitors bring their wired/wireless robots ready to battle and are pitted against their competitor’s robots in one-one matches where the aim is to cause maximum damage or to push the opponent’s robot off the arena to score maximum points. Team scoring the maximum points wins the championship. The challenge has two participation categories as per the gross weight of the Robot. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Prabhanjan (9481508152) <br> S Bharath (9380168397) </span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 mb-lg-0" style="margin-top: 1cm;">
        <div class="hover hover-3 text-white rounded" style="width: 100%;"><img src="{% static 'media/robo2.png' %}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
           
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:medium;">A manually controlled robot wired or wireless has to traverse through the track full of turns and obstacles in minimum possible time. The robot must be manually/autonomously controlled, and it should be capable of traversing over different terrain and hurdles without going outside the track. Separate points will be awarded for overcoming the hurdles. The bot with the maximum cumulative points will win the race. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span> <br> Chethan (9902774023) <br> Neha K R (9019792764) </span></p>
          </div>
        </div>
      </div>

      <div class="col-lg-6" style="margin-top: 1cm;">
        <div class="hover hover-3 text-white rounded"><img src="{%static 'media/sumo.png'%}" alt="">
          <div class="hover-overlay"></div>
          <div class="hover-3-content px-5 py-4">
         
            <p class="hover-3-description large  mb-0" style="font-weight:500; font-size:medium;">A manually controlled  wired or wireless limited sized   Sumo robots will compete within a circular arena. The purpose of the competition will be for one robot to eliminate the other by means of pushing it out of the arena or incapacitating it by tipping,disabling or overturning it within the bout time limit.Each match will be a knockout match where the bot with high score win the match. <span style="color:yellow;"><br> <span style="color:orange" > Coordinators : </span><br> Skanda R Naidu (9113530699) <br> Shreya Bijjur (8073294863) </span></p>
          </div>
        </div>
      </div>



    </div>
  </div>
  <style>


.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.0);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.9);
}


  </style>