<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
   <div style="margin-left:4cm;" class="row">
   <!-- <h1 style="font-family: 'Times New Roman', Times, serif;font-weight:bold; margin-left:30px;">RULE BOOK</h1> -->
<div  style="">
   <a href="https://drive.google.com/drive/folders/16SU-jp3iR0jxBwsThuXbq4TcamA4nH_v" class="fa fa-file-pdf-o" style="font-size:48px;color:red;text-decoration:none; margin-left:1cm;margin-top:1cm;"> Rule Book</a>
   <a href="https://drive.google.com/drive/folders/16_gocQX4tzV5dTYXKg8rpKmKmrnMM2Qb" class="fa fa-file-pdf-o" style="font-size:48px;color:red;text-decoration:none; margin-left:2cm;margin-top:1cm;"> Schedule</a>
   

   <a href="https://drive.google.com/drive/folders/17ncuMOx4xGEJcLeEJyHLb8CtdPzbqSHN" class="fa fa-file-pdf-o" style="font-size:48px;color:red;text-decoration:none; margin-left:2cm;margin-top:1cm;"> Brochure</a>
   

  </div>
<br>
<br>

  </body>
  
</html>